

<form #addForm="ngForm" (ngSubmit)="sendNewEvent(); addForm.reset()">


<div class="forms">


<div class="form-group ">
  <label for="Title">Event Title</label>
    <input [(ngModel)]="newTitle" type="text" class="form-control" id="title" name="title" aria-describedby="Title"
      placeholder="Title">
 </div>

<div class="form-group">
  <label for="Description">Description</label>
  <input [(ngModel)]= "newDesc" type="text" class="form-control" name="Description" id="Description" placeholder="Description">
</div>
<div class="form-group">
  <label for="Image">Image</label>
  <input [(ngModel)]= "newImage" type="url" class="form-control" name="Image" id="Image" placeholder="Url">
</div>
<div class="form-group">
  <label for="Date">Date</label>
  <input [(ngModel)]= "newDate" type="date" class="form-control" name="Date" id="Date">
</div>
<button type="submit"  class="btn btn-primary">Add</button>
</div>
</form>
